@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Tangerine&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background: url(../images/bgcss.png) no-repeat center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}
main {
    margin: 2rem auto;
    width: 80%;
}

header h1 {
    background-color: #5b595cd8;
    border-bottom: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 2rem;
    font-weight: 500;
    text-align: center;
}
header h1 a:link,
header h1 a:visited {
    background-color: #ffffff;
    text-decoration: none;
    float: left;
    color: #000000;
    padding: 0 6px;
    transition: all 0.2s ease-in;
}
header h1 a:hover {
    background-color: #ffffffbb;
    transform: translateX(-10px);
}
section {
    background-color: #ffffffb9;
    color: rgb(0, 0, 0);
    padding: 2rem;
    min-height: 20rem;
}